<nav id="sidebar" class="sidebar">
    <div class="sidebar-content ">
        <a class="sidebar-brand" href="index.html">
            <i class="align-middle" data-feather="box"></i>
            <span class="align-middle">ANMV</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Main
            </li>
<!--            <li class="sidebar-item active">-->
<!--                <a href="#dashboards" data-toggle="collapse" class="sidebar-link">-->
<!--                    <i class="align-middle" data-feather="sliders"></i> <span-->
<!--                        class="align-middle">Dashboard</span>-->
<!--                </a>-->
<!--                <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse show" data-parent="#sidebar">-->
<!--                    <li class="sidebar-item"><a class="sidebar-link" href="dashboard-default.html">Default</a>-->
<!--                    </li>-->
<!--                    <li class="sidebar-item"><a class="sidebar-link"-->
<!--                                                href="dashboard-analytics-1.html">Analytics</a></li>-->
<!--                    <li class="sidebar-item"><a class="sidebar-link"-->
<!--                                                href="dashboard-e-commerce.html">E-commerce</a></li>-->
<!--                    <li class="sidebar-item active"><a class="sidebar-link"-->
<!--                                                       href="dashboard-social.html">Social</a></li>-->
<!--                    <li class="sidebar-item"><a class="sidebar-link" href="dashboard-crypto.html">Crypto <span-->
<!--                            class="sidebar-badge badge badge-primary">New</span></a></li>-->
<!--                </ul>-->
<!--            </li>-->
            <li class="sidebar-item">
                <a href="#data_lead" data-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Data Lead</span>
                </a>
                <ul id="data_lead" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="/data/conn-manager/">Connection Manager <span
                            class="sidebar-badge badge badge-primary">New</span></a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/data/dataset-manager/">DataSet Manager</a></li>

                </ul>
            </li>
        </ul>
    </div>
</nav>