{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Anmv1">

    <title>{% block title %} VPBank {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'classic.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    {% block css_files %}
    {% endblock %}

    <link rel="preconnect" href="//fonts.gstatic.com/" crossorigin="">
    {#    <style>#}
    {#        body {#}
    {#            opacity: 0;#}
    {#        }#}
    {#    </style>#}
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-6"></script>
    {#    <script>#}
    {#        window.dataLayer = window.dataLayer || [];#}
    {##}
    {#        function gtag() {#}
    {#            dataLayer.push(arguments);#}
    {#        }#}
    {##}
    {#        gtag('js', new Date());#}
    {##}
    {#        gtag('config', 'UA-120946860-6');#}
    {#    </script>#}
</head>

<body>
{% block content %}
{% endblock %}

{#   Insert navbar:     #}
<!--<div class="wrapper">-->
{#   {% include "includes/navbar.html" %} #}
<!--    <div class="main">-->
{#        {% include "includes/navbar_horizontal.html" %} #}
<!--        <main class="content">-->
<!--            <div class="container-fluid p-0">-->
            {#   {% block content %} #}
            {#  {% endblock %} #}
<!--            </div>-->
<!--        </main>-->
<!--    </div>-->
<!--</div>-->


</body>

{% block js_files %}
    <script src="{% static 'app.js' %}"></script>
{% endblock %}
</html>